Package: ch.marcoroth.shortlook.plugin.profile-picture.steamchat
Name: SteamChat Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.1
Architecture: iphoneos-arm
Description: Show SteamChat Profile Pictures in ShortLook when you receive a SteamChat notification!
Maintainer: Marco Roth
Author: Marco Roth & RedenticDev
Section: Tweaks (ShortLook)
